body {
  background: rgb(148,187,233);
  background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(210,181,237,1) 100%);
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}